{% extends "base.html" %}

{% block head %}
    {% if article.description %}
    <meta name="description" content="{{ article.description }}">
    {% endif %}
{% endblock %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <header class="article-header">
        <h1>{{ article.title }}</h1>
        <time itemprop="datePublished" datetime="{{ article.date.isoformat() }}" class="date">{{ article.locale_date }}</time>
    </header>
    <hr>
    <section class="article-body">
        <article>
            {{ article.content }}
        </article>
    </section>
{% endblock %}