<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>
    {% block head %}{% endblock %}
</head>
<body>
<section>
{% block content %}
{% endblock %}
</section>
<footer>
    <aside>
        {% block footer_nav %}{% endblock %}
        <a href="https://github.com/romulojales/rj-pelican-theme/">RJ Pelican Theme</a>
    </aside>
</footer>

{% if GOOGLE_ANALYTICS %}
    {% include "google_analytics.html" %}
{% endif %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.css"/>
</body>
</html>
