{% extends "base.html" %}

{% block content %}
    <h1 class="home-h1">{{ SITENAME }}</h1>
    <section>
    <ol>
        {% for article in articles_page.object_list %}
        <li>

            <article class="home-item">
                <a class="home-item-link" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                    <time itemprop="datePublished" datetime="{{ article.date.isoformat() }}" class="home-item-date">{{ article.locale_date }}</time>
                    <h1 class="home-item-title">{{ article.title }}</h1>
                    <p>{{ article.description }}</p>
                </a>
            </article>
            <hr>
        </li>
        {% endfor %}
    </ol>
    </section>
{% endblock %}